[access "refs/*"]
    read = group distroinfo-core
    owner = group distroinfo-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group distroinfo-core
    label-Code-Review = -2..+2 group distroinfo-ptl
    label-Verified = -2..+2 group distroinfo-ptl
    label-Workflow = -1..+1 group distroinfo-core
    label-Workflow = -1..+1 group distroinfo-ptl
    label-Workflow = -1..+0 group Registered Users
    submit = group distroinfo-ptl
    read = group distroinfo-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group distroinfo-core
    read = group Registered Users
[access "refs/tags/*"]
    read = group Registered Users
    read = group distroinfo-core
    push = group distroinfo-ptl
    pushSignedTag =  group distroinfo-ptl
    forgeCommitter = group distroinfo-ptl
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
[project]
        description = distroinfo - packaging distribution metadata parser
